<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.glping.daemon</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/glping</string>
        <string>--once</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/vladimirnosov/glping</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>StartInterval</key>
    <integer>60</integer>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/vladimirnosov/glping/logs/glping.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/vladimirnosov/glping/logs/glping.error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYTHONPATH</key>
        <string>/Users/vladimirnosov/glping</string>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>